/*
    Author: Vrushabh Dhatrak
    Release: 0.1
    Description : Main CSS
*/
/*************** Different Page Imports ***************/
@import "https://memorable-ui.netlify.app/styles/main.css";
@import "./filterPage.css";
@import "./productDetails.css";
@import "./landingPage.css";
@import "./utils.css";
@import "./order.css";